.details{
 display: grid;
    grid-column: 1/-1;
    
    margin: 1rem 5rem;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr 20vh 15vh 20vh;
}
.detail-pic{
    width: 100%;
    grid-column: 1/4;
    grid-row: 1/5;
}
.detail-small-heading{
    grid-column: 4/7;
    grid-row: 1/2;
    align-self:flex-end;
    font-size: 10px;
    color: lightseagreen;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;;
    
}
.detail-12{
    grid-column:4/7 ;

    grid-row: 2/2;
    justify-self: center;
    align-self: center;
}
.detail-para{
    grid-column: 4/7;
    grid-row: 3/3;
    color: #8787c4;;
}
.detail-p{
    grid-row: 4/4;
    grid-column:4/6 ;
    width: 100%;

}