.footers{
display: grid;
    grid-column: 1/9;
    
    color: aliceblue;
    margin-top: 4rem;
    grid-template-columns: 20vw 1fr 5vw;
    grid-template-rows: 40vh 5vh 1fr 10vh;
    padding: 5rem 9rem;
    background-color: rgb(6, 6, 75);
}
.footer-heading{
    
    grid-column: 1/5;
    color: 
    rgb(255,117,186);
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: flex-start;
    font-weight: 600;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 60%;
   
}
.btn-footer{
    text-decoration: none;
    color: azure;
    font-size: 10px;
    grid-row: 2/2;
    grid-column: 1/span2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: azure;
    justify-self: center;
    width: 15%;
border-top: 1px solid rgb(241, 234, 234);
display: block;
border-left: 1px solid rgb(247, 242, 242);
border-right: 1px solid rgb(248, 241, 241);
border-bottom: 1px solid rgb(240, 233, 233);
    padding-left: 1.5rem;
    padding: 1.2rem;
    align-self: flex-start;
}
.footer-s{
    grid-row: 3/3;
    grid-column: 1/2;
    font-size: 35px;
    justify-self: center;
    margin-top: 9rem;
}
.footer-details{
    grid-row: 3/3;
    grid-column: 2/span2;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    

}
.footer-p{
    grid-row: 3/span3;
    grid-column: 1/1;
    align-self: center;
    justify-self:center;
    font-size: 10px;
    text-align: center;
    width: 60%;
    text-decoration: none;
}
.footer-nav{
    list-style: none;
    padding: 5rem 5rem;
    text-decoration: none;

    &-l{
        padding: 1rem;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 10px;
        width: 130%;
    }
}
.extra{
    font-size: 15px;
}
.ropy{
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
    width: 50%;
    align-self: flex-end;
}

.nav{
    display: flex;
    grid-column: 1/-1;
    justify-content: space-between;
    color: whitesmoke;
    grid-row: 1/1;
}
.item{
    display: flex;
    padding: 1rem;
    justify-self: flex-end;
    margin-left: -2rem;
    &-l{
        padding: 1.5rem;
        list-style: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}
.btn-n{
//align-self: center;
margin-top: 2rem;
}
.h-h{
   // align-self: center;
   margin-top: 2rem;
   font-size: 1.5rem;
}
.btn-sign{
    text-decoration: none;
    padding-right: 1rem;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    font-weight: 400;
}
.btn-signup{
    text-decoration: none;
    
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
    font-weight: 400;
    background-color: red;
    padding: 1rem 1.2rem;
}